     .private-menu {
         width: 100%;
     }
     
     .private-menu ul {
         display: flex;
         margin: auto!important;
         width: 100%!important;
         max-width: 1300px!important;
         margin-bottom: 30px!important;
         padding: 8px 10px!important;
         justify-content: space-between;
     }
     
     .private-menu ul:before {
         display: none!important;
     }
     
     .private-menu ul li {
         padding: 5px 10px;
         border-right: 1px solid #c0c0c0;
         flex: 1;
         text-align: center;
     }
     
     .private-menu ul li:last-child {
         border: none;
     }
     
     .private-menu ul li a {
         color: #5659a7;
         font-weight: 600;
     }
     
     .private-menu ul li a:hover {
         text-decoration: underline;
     }
     
     .acc-title {
         padding-left: 0px;
         color: #3d3d3e;
         font-weight: 600;
         font-size: 32px;
         margin-top: 20px;
         padding-bottom: 5px;
         margin-bottom: 10px;
     }
     
     .account-menu {
         background: #f7f8ff;
         padding: 30px;
         box-sizing: border-box;
         margin-bottom: 20px;
         max-width: 250px;
         margin-right: 30px;
     }
     
     .account-menu ul {
         padding-bottom: 15px;
         padding-left: 10px;
     }
     
     .account-menu li a {
         color: #474d9b;
         line-height: 18px;
     }
     
     .account-menu li a:hover {
         text-decoration: underline;
     }
     
     .account-menu li {
         margin-bottom: 10px;
         line-height: 14px;
         margin-top: 10px;
     }
     
     .account-menu li a.active {
         color: #4a4d97;
         font-weight: bold;
     }
     
     .account-menu .title {
         color: #22232b;
         font-size: 18px;
         font-weight: bold;
         line-height: 24px;
         padding-bottom: 10px;
         border-bottom: 1px solid #cdd2f5;
         margin-bottom: 10px;
     }
     
     .grey-row.createvacancy {
         justify-content: flex-start;
         align-items: flex-start;
     }
     
     .content .center-col {
         flex: 1;
         position: relative;
         padding-bottom: 50px;
     }
     
     .content .left-col {
         padding-bottom: 50px;
     }
     
     .kadzen {
         margin-bottom: 50px;
         border: 5px solid #4a4d97;
         padding: 30px 30px 0px 30px;
         box-sizing: border-box;
         text-align: center;
         max-width: 250px;
         margin-right: 30px;
     }
     
     .kadzen strong {
         color: #4a4d97;
         text-transform: uppercase;
         font-size: 20px;
         margin-top: -10px;
         margin-bottom: 20px;
         display: block;
     }
     
     .kadzen p {
         color: #6e6f77;
         font-size: 13px;
         font-weight: 400;
     }
     
     .grey-row {
         flex-wrap: wrap;
         justify-content: space-between;
         align-items: center;
         display: flex;
         background: #f6f6f98c;
         margin-bottom: 10px;
         padding: 20px;
     }
     
     .grey-row .col.first {
         flex-grow: 18;
     }
     
     .grey-row .col {
         flex: 1;
         flex-grow: 7;
         font-size: 13px;
         color: #a9a9a9;
         font-style: initial;
         padding-right: 30px;
     }
     
     .grey-row .col:nth-child(3) {
         flex-grow: 10;
     }
     
     .grey-row .col span {
         display: block;
         font-size: 12px;
         color: #c3c3c3;
         width: 100%;
         white-space: nowrap;
     }
     
     .grey-row .col p {
         font-size: 15px;
         margin: 0;
         color: #6e6f75;
         white-space: nowrap;
     }
     
     .grey-row .col.first p {
         color: #333333;
         min-width: 100px;
         font-weight: 400;
         font-size: 17px;
     }
     
     .grey-row .col.first {
         max-width: 200px;
         flex: 150px;
     }
     
     .grey-row .col a {
         white-space: nowrap;
         color: #4a4d97;
         border-bottom: 1px dashed #4a4d97;
     }
     
     .grey-row .col a:hover {
         text-decoration: none;
         border: none;
     }
     
     .kadzen a {
         background: #4a4d97;
         color: #fff;
         text-transform: uppercase;
         display: block;
         font-weight: 500;
         padding: 10px 25px;
         margin-bottom: -20px;
     }
     
     .sub-grey {
         flex: 100%;
         padding: 10px 20px;
         margin-bottom: 15px;
         background: #eff0f9;
         border: 1px solid #d2d4fb;
     }
     
     .sub-grey p {
         margin: 0;
     }
     
     .btn-dashed {
         text-align: center;
         line-height: 16px;
         min-width: 200px;
         margin-bottom: 15px;
         text-transform: uppercase;
         border: 1px dashed #4a4d97;
         color: #4a4d97;
         font-weight: 500;
         padding: 10px 20px;
     }
     
     .btn-dashed:hover {
         background: #4a4d97;
         color: #fff;
         text-decoration: none;
     }
     
     .addagency:hover {
         text-decoration: none;
         box-shadow: 0px 0px 0px 0 #2b6f60;
         background-color: #4a4d97
     }
     
     .addagency {
         background: #4a4d97 url(../images/agency.png) no-repeat 10px center;
         color: #fff;
         padding: 10px 0px 10px 80px;
         max-width: 170px;
         box-shadow: 5px 7px 0px 0 #2b6f60;
         display: block;
     }
     
     .status.account {
         width: 100%;
         position: absolute;
         max-width: 200px;
         right: 0;
     }
     
     .status.account img {
         float: right;
         margin-right: 10px;
     }
     
     .status.account p {
         padding: 0;
         margin: 0;
     }
     
     .acount-row {
         display: flex;
         border-bottom: 1px solid #CCCCCC;
         padding: 14px 0;
         justify-content: space-between;
         align-items: center;
     }
     
     .acount-row_title {
         flex: 35%;
         max-width: 35%;
         padding-right: 15px;
     }
     
     .acount-row_title p,
     .acount-row_title a {
         display: block;
         font-weight: bold;
         color: #3D3D3E;
         font-size: 20px;
         margin-bottom: 2px;
         line-height: 100%;
     }
     
     .acount-row_title a span,
     .acount-row_title span {
         font-size: 14px;
         line-height: 100%;
     }
     
     .acount-row_title a:hover span {
         color: #474d9b!important;
         text-decoration: underline;
     }
     
     .acount-row_setting {
         flex-grow: 10;
     }
     
     .acount-row_setting label {
         display: block;
         color: #666666;
         font-size: 14px;
     }
     
     .acount-row_setting label input {
         border: 1px solid #C0C0C0;
         height: 30px;
         width: 70px;
         box-sizing: border-box;
         padding: 5px;
         text-align: right;
         margin: 5px;
         margin-left: 0;
     }
     
     .acount-row_setting.more_data {
         display: flex;
     }
     
     .acount-row_setting.more_data label {
         color: #666666;
         font-size: 12px;
         flex: 32%
     }
     
     .acount-row_setting.more_data input {
         display: block;
     }
     
     .acount-row_action .btn {
         background-color: #878BC8;
         border-radius: 0;
     }
     
     h2.acc-title {
         text-align: left;
         border-bottom: none;
         font-size: 27px;
         padding-left: 0;
         margin-bottom: 20px;
     }
     
     .big.blue.btn {
         border-radius: 0;
         margin: 0;
         text-transform: uppercase;
     }
     
     .acount-row+.big.blue.btn {
         width: 250px;
         height: 60px;
         margin-top: 60px;
     }
     
     .select_region.active {
         display: block;
     }
     
     .select_region {
         position: absolute;
         display: none;
         width: 400px;
         box-sizing: border-box;
         background: #fff;
         box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
         padding: 20px;
     }
     
     .select_region:before {
         display: block;
         content: '';
         position: absolute;
         background-color: #fff;
         width: 20px;
         margin-top: -30px;
         height: 20px;
         transform: rotate(45deg);
     }
     
     .select_region p {
         margin-bottom: 15px;
         font-weight: 500;
     }
     
     .search_region input {
         border: 1px solid #9F9FB9;
         width: 98%;
         display: block;
         height: 40px;
         z-index: 9;
     }
     
     .search_icon {
         float: right;
         margin-left: -30px;
         z-index: 10;
         display: block;
     }

     .order_sort{ display: flex; justify-content: space-between;}
     .order_date a{    font-size: 14px;
        line-height: 14px;
        font-weight: 500;    height: 20px;
        line-height: 20px;
        color: #474D9B;
        background: #ECEDFF;
        display: inline-block;
        padding: 4px 15px;
        border-radius: 3px;
    }
    .order_date a:hover{   background:  #474D9B;
        color: #ECEDFF;}
     .top_menu{
       display: flex;
       border-bottom: 1px solid #ccc;
       padding-bottom: 15px;
       margin-bottom: 15px;
     }
     .top_menu a{font-weight: bold;
        font-size: 22px;
        line-height: 28px;        
        color: #A6A9CF;
        margin-right: 40px;
        }
.top_menu a.active{color: #474D9B;}
.top_menu a sup {font-size: 12px; color: #474D9B; margin-left: 5px; margin-top: -10px;}
.order_prod{ border: 1px solid #EFF0F9; margin-bottom: 50px; background: #FBFBFD;}
.order_title{ background: #EFF0F9; padding: 17px 30px;display: flex;    justify-content: space-between;} 
.order_title p{font-style: normal;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
    line-height: 26px;color: #4B4C58;}

.order_title span{color: #4A4D97;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
.order_title div:last-child{ text-align: right;}
.order_row{ display: flex;justify-content: space-between;    align-items: center;}
.order_st ul{ display: none; padding: 30px; position: absolute;    width: 350px;
    background: #fff; z-index:999;
    box-shadow: 0 0 30px #0000001c;margin-top: 30px;
    margin-left: -40px;}
.order_st ul:before{ 
    content: '';
    background-color: #fff;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -13px;
    transform: rotate(45deg);
    left: 52px;

}
.order_check{ padding: 20px;}
.order_check button{
    border: 1px solid #575A83;
    box-sizing: border-box;
    border-radius: 3px; color:#474D9B;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap; 
    background: transparent;
    line-height: 19px;
    text-align: center; 
    padding: 15px 20px;
}
.order_check button:hover{background: #eff0f9;}
.order_st div{  
    border-radius: 3px;
    position: absolute;
    padding: 2px 5px;
    font-size: 11px;
    display: block;
    margin-top: -7px;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}


.order_img img{ max-height: 100px;}

.order_row p {color:#4B4B4B;font-weight: 500;
    font-size: 20px;    margin-bottom: 6px;
    line-height: 23px;}
.order_descr p{ font-size:18px;}
.order_descr span{ display: block; color:#A8A8A9;font-size: 13px;
    line-height: 15px;}
    .order_descr a{font-size: 13px; color:#474D9B}
.order_sort .select-wrapper input.select-dropdown{    font-size: 13px;
    line-height: 10px;
    border: 1px solid #d6d6d6;
    padding: 5px;    height: 30px;
    box-sizing: border-box;
}
.select-wrapper .caret{top: -9px;}
.order_st{ position: relative;}
.order_st:hover ul{ display: block;}

.order_st ul li{
    padding-bottom: 10px;
    margin: 0;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    box-sizing: border-box;
    margin-left: 10px;
    position: relative;
} 
.order_st ul li:before{    position: absolute;
    content: '';
    border: 1px solid #ccc;
    margin-left: -31px;
    display: block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #fff;}

.order_st ul li p{font-weight: 500;   font-size: 16px;color: #61616B; margin-bottom: 0px;  line-height: 19px;}
.order_st ul li span{font-weight: normal;
    font-size: 12px;
    line-height: 14px;color: #A8A8A9;
}
.develirytab{ display: flex; margin-top: 30px; border-bottom:1px solid #CCCCCC}
.order_st div.status_1,.order_st  li.status_1:before {  background: #FF3541; color:#fff;}
.order_st div.status_2,.order_st  li.status_2:before {  background: #9FA0B8; color:#fff;}
.order_st div.status_3,.order_st  li.status_3:before {  background: #CACBE1; color:#fff;}
.order_st div.status_4,.order_st  li.status_4:before {  background: #474D9B; color:#fff;}
.order_st div.status_5,.order_st  li.status_5:before {  background: #676882; color:#fff;}

.dev-tab{ margin-top: 30px;font-size:16px; }
.develirytab .tab{padding-bottom:0px!important; }
.develirytab .tab a{color:#6A6A6A; text-transform: capitalize;}
.develirytab .tab a.active{color:#fff!important; font-weight: bold; background-color: #878BC8; text-transform: capitalize;}
.dev-tab .row{ display: flex;}
.dev-tab .col{ flex:40%;box-sizing: border-box;}
.devplan+.col{padding-left: 30px;}
.devplan+.col ul li{ margin-bottom: 15px;}
.devplan+.col ul li p{ font-weight: bold; margin-bottom: 5px; font-size: 18px;}
.devplan+.col ul li span{ font-size: 16px; color:#939393; font-weight: 300;}
.devplan {border-right:1px solid #ccc;padding-right: 20px;}
.devplan h3{ font-size: 26px; font-weight: bold;text-align: left; }
.col .btn {margin: 0; border-radius:0;  font-weight: bold;    padding: 10px 30px; text-transform: uppercase;}
.dev-tab{ margin-bottom: 50px; padding-bottom: 20px;border-bottom:1px solid #ccc;}
.col .btn.grey{color:#8386AA;}
.col .btn.grey:hover{ color:#fff;}

.dev-model h4{ text-align: left; font-weight: bold;     padding-bottom: 0px;}
.table-scroll{margin-bottom: 50px; overflow-x: auto;}
.table-scroll tr:nth-child(even) { background: #F1F3F9;}
.table-scroll tr td:first-child{ line-height: 50px;font-weight: bold;}
.table-scroll td{ padding: 15px!important;}
.dev-model h3{color:#474D9B; font-weight: bold; font-size: 30px; text-align: left; margin-bottom: 30px;}
.dev-model .row{flex-wrap: nowrap; }
.zibero_mark{ background: url(../images/z-mark.svg); display: inline-block;  width: 45px; height: 45px;    background-size: cover!important;  }
.clint_mark{ background: url(../images/client-mark.svg); display:  inline-block;  width: 45px; height: 45px;    background-size: cover;  }
.clint_mark+.zibero_mark{ margin-left: -8px;}
.dev-model .col{     justify-content: space-around;}
.dev-model .col strong{ display: block; text-align: center; width: 100%; font-weight: bold; margin-bottom: 40px; font-size: 26px;}
.dev-model .col img{ display: block; margin-bottom: 40px; margin-top: 10px;}
.dev-model .col p{ font-size:18px;line-height: 24px; max-width: 80%;}

#authorize_block center{    text-align: left;}
#authorize_block center .btn{      line-height: 60px;   height: 60px!important;}
.btn_sec{ display: flex; margin-left: -10px; margin-top: 40px;}
.btn_sec .btn{ width: 320px; border-radius: 0;font-weight: bold;
    font-size: 16px;
    line-height: 19px;}
.whiteform .input-field{ margin-bottom: 10px; margin-top: 10px;}
.whiteform .input-field input{ margin-bottom: 0px; }
.clean{     margin: 20px 0; height: 5px; background-color: #F4F4F4;
    display: block;
    width: 100%;}
.input-field  h3{color: #7C7C8E;font-weight: normal;
    font-size: 16px;
    line-height: 19px; text-align: left; padding: 15px 0;}
    .upload .btn-tertiary{color:#555;padding:0;line-height:40px;width:320px;margin:auto;display:block;border: 1px solid #E3E3E3;}
    .upload .btn-tertiary:hover,.upload .btn-tertiary:focus{color:#888;border-color:#888}
    .upload .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
    .upload .input-file + .js-labelFile{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:10px 15px;cursor:pointer}
    .upload .input-file + .js-labelFile .icon{
        height: 100%;
    background: #4a4d97;
    position: absolute;
    right: 0px;
    top: 0;
    width: 100px;
    color: #fff;
    } 
    .js-labelFile .icon:before{content:''; background: url(../images/upload.svg);display: block;
        width: 20px;
        height: 20px;
        background-size: cover;
        position: absolute;
        right: 38px;
        top: 16px;}
    .form-group{    position: relative;}
    .upload .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}
    .js-fileName{    text-transform: none;    top: 11px;position: absolute;font-size: 15px;left: 17px;}

    .addrow{ display: block; border: 1px solid #E3E3E3; width: 50px; height: 50px; position: relative; text-align:center; line-height: 55px; cursor: pointer;}
    .addrow:before{content:'+'; color:#C0C0C0; font-size: 28px ; font-weight: 300;} 
    .addrow:hover{ border: 1px solid #878BC8;background: #878BC8;}
    .addrow:hover:before{ color:#fff}