.landheader{height: 304px!important;}

.faq-center{ margin: 90px auto; }
.faq-col{flex:25%; margin-bottom: 25px;     flex: 25%;
    margin-bottom: 25px;
    border: 1px solid #bfbfbf82;
    margin: 20px;
    padding: 20px;
    text-align: center;}
.faq-col img{    max-width: 100px; margin-top: 10px;
    margin-bottom: 20px;}
.faq-col h4{    padding-bottom: 20px;  font-weight: bold;
    font-size: 20px;
    color: #626379;}
    .faq-col ul{ padding-right: 30px; display: none;    }
.faq-col li{}
.faq-col a{color: #474d9b}
.faq-col a:hover{text-decoration: underline!important;}

.faq-content{ padding-bottom: 60px; display: flex;}
.faq-content .left-col{}
.faq-content .right-col{ flex:20%}