.cardware.list {
    flex: 100%!important;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px!important;
    max-width: 100%!important;
}

.cardware.list .img-wrapper img {
    max-width: 280px;
}

.cardware.list .img-wrapper {
    width: 280px;
}

.cardware.list .modal-trigger {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.cardware.list .add {
    max-width: 280px;
}

.cardware.list .add .favorit {
    background-color: transparent;
    width: 42px;
}

.cardware.list .modal-trigger {
    max-width: 200px;
}

.cartext p {
    padding: 0;
}

.cartext a {
    color: #5659a7;
    font-weight: bold;
    font-size: 15px;
}

.list .club_discount {
    bottom: 26px;
    top: auto;
    left: 30px;
}

.cartext {
    flex-grow: 10;
    padding-top: 20px;
    text-align: left;
}

.cardware.list .img-wrapper {
    height: 158px;
}

.cardware.list.new:after {
    content: 'новинка';
    background: #ff3843;
    position: absolute;
    display: block;
    left: 30px;
    top: 20px;
    color: #fff;
    border-radius: 2px;
    padding: 2px 5px;
    font-size: 12px;
}

.cardware.list .pre-price {
    padding-left: 10px;
    font-size: 23px;
}

.pre-price b {
    color: white;
    background: #ff3843;
    padding: 2px 5px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 3px;
    display: block;
}


}
.pre-price b:before {
    content: 'Z';
    display: inline-block;
    border: 1.5px dashed #fff;
    margin-right: 6px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 3px;
    float: left;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
}
.card-last {
    display: flex;
    max-width: 230px;
    align-content: space-around;
    flex-wrap: wrap;
}
.rassrochaka {
    display: flex;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    color: #afafaf;
    font-size: 11px;
    line-height: 20px;
}
.rassrochaka span {
    background: #ffe564;
    font-weight: bold;
    color: #000;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 14px;
}
.morecontent {
    background: #eceffe;
    padding: 2px 5px;
    font-size: 12px;
    margin-left: 10px;
}
.best_prod .carousel-element {
    height: 260px;
}
.best_prod .carousel-element p {
    height: 40px;
}
h4.best_prod {
    color: #ff3843;
}
h4.best_prod:before {
    color: #ff3843!important;
}
.component h2 {
    text-align: left;
    font-weight: 600;
    font-size: 24px;
}
.brands {
    padding-top: 40px!important;
}
.brands .owl-item {
    min-width: auto!important;
}
.shop .owl-carousel {
    margin-bottom: 40px!important;
}
.reklam_block .owl-item {
    background: #f3f3f3;
}
.reklam_block .owl-item span {
    height: auto!important;
}